In [31]:
from datasets import load_dataset
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Login using e.g. `huggingface-cli login` to access this dataset
ds = load_dataset("marianeft/diabetes_prediction_dataset")

In [3]:
df = ds["train"].to_pandas()

In [4]:
print(df.describe())
# Plotting the distribution of the target variable

                 age  hypertension  heart_disease            bmi  \
count  100000.000000  100000.00000  100000.000000  100000.000000
mean       41.885856       0.07485       0.039420      27.320767
std        22.516840       0.26315       0.194593       6.636783
min         0.080000       0.00000       0.000000      10.010000
25%        24.000000       0.00000       0.000000      23.630000
50%        43.000000       0.00000       0.000000      27.320000
75%        60.000000       0.00000       0.000000      29.580000
max        80.000000       1.00000       1.000000      95.690000

         HbA1c_level  blood_glucose_level       diabetes
count  100000.000000        100000.000000  100000.000000
mean        5.527507           138.058060       0.085000
std         1.070672            40.708136       0.278883
min         3.500000            80.000000       0.000000
25%         4.800000           100.000000       0.000000
50%         5.800000           140.000000       0.000000
75%         6.200000           159.000000       0.000000
max         9.000000           300.000000       1.000000

In [5]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [6]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [45]:
dataset=df.copy()

In [46]:


gender_cols = pd.get_dummies(dataset['gender'], prefix='gnd',dtype=int)
dataset = dataset.drop('gender', axis=1)
dataset = pd.concat([dataset, gender_cols], axis=1)

In [47]:
dataset

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gnd_Female,gnd_Male,gnd_Other
0,80.0,0,1,never,25.19,6.6,140,0,1,0,0
1,54.0,0,0,No Info,27.32,6.6,80,0,1,0,0
2,28.0,0,0,never,27.32,5.7,158,0,0,1,0
3,36.0,0,0,current,23.45,5.0,155,0,1,0,0
4,76.0,1,1,current,20.14,4.8,155,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
99995,80.0,0,0,No Info,27.32,6.2,90,0,1,0,0
99996,2.0,0,0,No Info,17.37,6.5,100,0,1,0,0
99997,66.0,0,0,former,27.83,5.7,155,0,0,1,0
99998,24.0,0,0,never,35.42,4.0,100,0,1,0,0
99999,57.0,0,0,current,22.43,6.6,90,0,1,0,0

In [48]:
smoking_cols = pd.get_dummies(dataset['smoking_history'], prefix='smoking',dtype=int)
dataset = dataset.drop('smoking_history', axis=1)
dataset = pd.concat([dataset, smoking_cols], axis=1)

In [49]:
dataset

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gnd_Female,gnd_Male,gnd_Other,smoking_No Info,smoking_current,smoking_ever,smoking_former,smoking_never,smoking_not current
0,80.0,0,1,25.19,6.6,140,0,1,0,0,0,0,0,0,1,0
1,54.0,0,0,27.32,6.6,80,0,1,0,0,1,0,0,0,0,0
2,28.0,0,0,27.32,5.7,158,0,0,1,0,0,0,0,0,1,0
3,36.0,0,0,23.45,5.0,155,0,1,0,0,0,1,0,0,0,0
4,76.0,1,1,20.14,4.8,155,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,80.0,0,0,27.32,6.2,90,0,1,0,0,1,0,0,0,0,0
99996,2.0,0,0,17.37,6.5,100,0,1,0,0,1,0,0,0,0,0
99997,66.0,0,0,27.83,5.7,155,0,0,1,0,0,0,0,1,0,0
99998,24.0,0,0,35.42,4.0,100,0,1,0,0,0,0,0,0,1,0
99999,57.0,0,0,22.43,6.6,90,0,1,0,0,0,1,0,0,0,0

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Suponiendo que la columna objetivo se llama "diabetes"
X = dataset.drop("diabetes", axis=1)
y = dataset["diabetes"]

# Dividir en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear y entrenar el modelo
model = LinearRegression()
model.fit(X_train, y_train)

# Predicciones
y_pred = model.predict(X_test)

# EvaluaciÃ³n
print("MSE:", mean_squared_error(y_test, y_pred))
print("R2:", r2_score(y_test, y_pred))

MSE: 0.05117916885888949
R2: 0.3447543280602634

In [44]:
dataset.isna().sum()

gender                 18
age                     0
hypertension            0
heart_disease           0
bmi                     0
HbA1c_level             0
blood_glucose_level     0
diabetes                0
smoking_No Info         0
smoking_current         0
smoking_ever            0
smoking_former          0
smoking_never           0
smoking_not current     0
dtype: int64

In [52]:
dataset.info

<bound method DataFrame.info of         age  hypertension  heart_disease    bmi  HbA1c_level  \
0      80.0             0              1  25.19          6.6
1      54.0             0              0  27.32          6.6
2      28.0             0              0  27.32          5.7
3      36.0             0              0  23.45          5.0
4      76.0             1              1  20.14          4.8
...     ...           ...            ...    ...          ...
99995  80.0             0              0  27.32          6.2
99996   2.0             0              0  17.37          6.5
99997  66.0             0              0  27.83          5.7
99998  24.0             0              0  35.42          4.0
99999  57.0             0              0  22.43          6.6

       blood_glucose_level  diabetes  gnd_Female  gnd_Male  gnd_Other  \
0                      140         0           1         0          0
1                       80         0           1         0          0
2                      158         0           0         1          0
3                      155         0           1         0          0
4                      155         0           0         1          0
...                    ...       ...         ...       ...        ...
99995                   90         0           1         0          0
99996                  100         0           1         0          0
99997                  155         0           0         1          0
99998                  100         0           1         0          0
99999                   90         0           1         0          0

       smoking_No Info  smoking_current  smoking_ever  smoking_former  \
0                    0                0             0               0
1                    1                0             0               0
2                    0                0             0               0
3                    0                1             0               0
4                    0                1             0               0
...                ...              ...           ...             ...
99995                1                0             0               0
99996                1                0             0               0
99997                0                0             0               1
99998                0                0             0               0
99999                0                1             0               0

       smoking_never  smoking_not current
0                  1                    0
1                  0                    0
2                  1                    0
3                  0                    0
4                  0                    0
...              ...                  ...
99995              0                    0
99996              0                    0
99997              0                    0
99998              1                    0
99999              0                    0

[100000 rows x 16 columns]>

In [53]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Suponiendo que ya tienes X e y definidos como antes
# X = dataset.drop("diabetes", axis=1)
# y = dataset["diabetes"]

# Dividir en entrenamiento y prueba (si no lo has hecho ya)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear y entrenar el modelo Random Forest
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Predicciones
y_pred_rf = rf_model.predict(X_test)

# EvaluaciÃ³n
print("MSE (Random Forest):", mean_squared_error(y_test, y_pred_rf))
print("R2 (Random Forest):", r2_score(y_test, y_pred_rf))

MSE (Random Forest): 0.025403510005053004
R2 (Random Forest): 0.6747594704247027

In [54]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Suponiendo que ya tienes X e y definidos como antes
# X = dataset.drop("diabetes", axis=1)
# y = dataset["diabetes"]

# Dividir en entrenamiento y prueba (si no lo has hecho ya)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear y entrenar el modelo Random Forest Classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Predicciones
y_pred_clf = clf.predict(X_test)

# EvaluaciÃ³n
print("Accuracy:", accuracy_score(y_test, y_pred_clf))
print(classification_report(y_test, y_pred_clf))

Accuracy: 0.97005
              precision    recall  f1-score   support

           0       0.97      1.00      0.98     18292
           1       0.95      0.69      0.80      1708

    accuracy                           0.97     20000
   macro avg       0.96      0.84      0.89     20000
weighted avg       0.97      0.97      0.97     20000

In [55]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

# Entrenar el modelo SVC
svc = SVC(kernel='rbf', probability=True, random_state=42)
svc.fit(X_train, y_train)

# Predicciones
y_pred_svc = svc.predict(X_test)

# EvaluaciÃ³n
print("Accuracy (SVC):", accuracy_score(y_test, y_pred_svc))
print(classification_report(y_test, y_pred_svc))

Accuracy (SVC): 0.94645
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     18292
           1       1.00      0.37      0.54      1708

    accuracy                           0.95     20000
   macro avg       0.97      0.69      0.76     20000
weighted avg       0.95      0.95      0.93     20000